

.table_box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . . . ."
    ". . . . ."
    "a . . . ."
    "a . . . .";
  margin: 4.53vw 5.33vw 0;
  background: rgba(250, 248, 233, 1);

  .th, .td {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.53vw;
    font-size: 3.73vw;
    font-weight: 400;

    &:nth-of-type(n + 2) {
    }
  }

  .a {
    grid-area: a;
    height: 17.07vw;
  }

  .th {
    border-right: 0.5px solid rgba(227, 223, 202, 1);
    background: rgba(51, 51, 51, 1);
    color: #fff;
  }

  .td {
    border-right: 0.5px solid rgba(227, 223, 202, 1);
    border-top: 0.5px solid rgba(227, 223, 202, 1);
  }
}
